.services_section_1{
  background-image: url("../../../public/services image.png");
  height: 70vh;
  width: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  margin:5rem auto auto auto;
}
.header_services{
  font-size: 3rem;
}
.service_contain{
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}