.services{
  // height: 90vh;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 -1px 10px 4px #ffff;
  h2{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  
}
